<app-dashboard></app-dashboard>
<div class="contact">
  <img class="center-image" src="../../assets/contact-us.jpg">
  <div class="overlay-text">ExploreEase Help Center</div>
<h3>Still facing issue? Contact our customer-support team below</h3>
<mat-card class="contact-card">
  <mat-card-header>
    <mat-card-title>Contact Us</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <form (ngSubmit)="onSubmit()">
      <mat-form-field appearance="fill">
        <mat-label>Name</mat-label>
        <input matInput type="text" id="name" [(ngModel)]="name" name="name" placeholder="Enter your name" required>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Email</mat-label>
        <input matInput type="email" id="email" [(ngModel)]="email" name="email" placeholder="Enter your email" required>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Contact No.</mat-label>
        <input matInput type="number" id="contactNo" [(ngModel)]="contactNo" name="contactNo" placeholder="Enter your contact number" required>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Issue</mat-label>
        <input matInput type="text" id="issue" [(ngModel)]="issue" name="issue" placeholder="Write your issue" required>
      </mat-form-field>

      <button mat-raised-button color="primary" type="submit" class="button">Submit</button>
    </form>
  </mat-card-content>
</mat-card>

</div>
