<app-dashboard></app-dashboard>
<div class = "register-div">
    <div class="register-card">
        <span class="heading-text">SIGN UP</span>
        <div class="register-selection">
            <div class="register">
                <mat-icon>
                    hiking
                </mat-icon>
                <span>
                    Explore Different Locations and Tour Spots with Detailed Views and ratings 
                </span>
                <button mat-fab extended (click)="registerUser()" style="background-color: orangered;">
                    <mat-icon>login</mat-icon>User
                </button>
            </div>
            <div class="vertical-line">

            </div>
            <div class="register">
                <mat-icon>
                    person_search
                </mat-icon>
                <span>Add and Manage your own Tourist Lcoations and Attention spots </span>
                <button mat-fab extended (click)="registerManager()" style="background-color: orangered;">
                    <mat-icon>manage_accounts</mat-icon>Manager
                </button>
            </div>
        </div>

    </div>
</div>








